#test2 {
  display: block;
}

@font-face {
    font-family: "marvLike";
    src: url("../fonts/BEBAS.woff");
}

.brand-logo {
    font-family: "marvLike";
    letter-spacing: -1.75px;
    word-spacing: 3px;
}

body {
    background-image: url("../images/marvelspreadlightest.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
.carousel{
    font-size: 12px;

}

.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 35px;
}

#topbarsearch .input-field .prefix { 
  width:0rem !important;    

}        

#topbarsearch nav ul li:hover, nav ul li.active {
      background-color: white !important;

}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
  margin-left: 1rem !important;
  
}

/* label focus color */
   .input-field.col.s6.s12.white-text input[type=text]:focus + label {
     color: #E8E8EE;
}
/* label underline focus color */
   .input-field.col.s6.s12.white-text input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: none;
   }

.alternate-option button {
margin-bottom: 0px;
}   
